html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

#bg {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%; }

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
